body {
  font-family: "Arial", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-top: 40px;
  margin-bottom:5em;
}

h1, h2, h3 {
  font-weight: normal;
}

h1:before, h2:before, h3:before, h4:before {
  content: " ";
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

/*h2 {
  border-bottom: 1px solid #0072c1;
}*/

hr {
  background-color: #0072c1;
  border: 0;
  height: 1px;
}

.content-title-brand {
  color: 'black';
  font-size: 50px;
}

li p {
  margin:0 0;
}

a:hover {
  text-decoration:none;
}

blockquote {
  background-color:#e6f3ff;
  border-left:solid #0072c1;
  font-size:inherit;
}

div.staffer {
  text-align: center;
  margin: 1em 0;
}

img.staffer-image {
  height: 150px;
  width: 150px;
  margin: 0 0 10px;
}

th.date {
  : 5%;
}


/* Code */

.date {
  color: #0072c1;
}


.quick-list-item {
  background-color:#e6f3ff;
  border-left:solid #0072c1;
  color:black;
  margin:10px 0;
  min-height:100px;
  padding:10px;
}

.quick-list-item:hover {
  background-color:#CAE1FF;
}

.quick-list-item > hr {
  margin:5px 0;
}

/*table {
  table-layout: fixed;
}
table td {
  word-wrap: break-word;
}*/

table#calendar {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table#calendar th {
  color: #000000;
  text-align:center;
  vertical-align: middle;
}

table#calendar td {
  border: 1px solid #000000;
  padding: 5px;
  vertical-align: middle;
}

table#calendar tr:not(:first-child) {
  background-color: #bad0f7;
}

table#calendar td.weeknum {
  text-align: center;
}

table#calendar td.reading ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table#calendar td.even {
  background-color:#F0FFFF;
}

table#calendar tr.even {
  background-color: #F0FFFF;
}

table#calendar tr:hover td:not(.weeknum) {
  background-color:#B0C4DE;
}

.description {
 margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;  }

.gcal {
  margin-top: 15px;
  margin-left: 100px;
}
/* Navbar colors */

.navbar-default {
  background-color: #8db0f2;
  border-color: #0085e1;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0085e1;
}
.navbar-default .navbar-toggle {
  border-color: #0085e1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0085e1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0085e1;
  }
}

/* Announcement Pager */


/* Resources search */


/*
  Five-color theme from a single blue hue.
*/
/*.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: inherit;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-list .hljs-built_in {
  color: #00193a;
}

.hljs-keyword,
.hljs-title,
.hljs-important,
.hljs-request,
.hljs-header,
.hljs-javadoctag {
  font-weight: bold;
}

.hljs-comment,
.hljs-chunk {
  color: #738191;
}

.hljs-string,
.hljs-title,
.hljs-parent,
.hljs-built_in,
.hljs-literal,
.hljs-filename,
.hljs-value,
.hljs-addition,
.hljs-tag,
.hljs-argument,
.hljs-link_label,
.hljs-blockquote,
.hljs-header,
.hljs-name {
  color: #0048ab;
}

.hljs-decorator,
.hljs-prompt,
.hljs-yardoctag,
.hljs-subst,
.hljs-symbol,
.hljs-doctype,
.hljs-regexp,
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-attribute,
.hljs-attr_selector,
.hljs-javadoc,
.hljs-xmlDocTag,
.hljs-deletion,
.hljs-shebang,
.hljs-string .hljs-variable,
.hljs-link_url,
.hljs-bullet,
.hljs-sqbracket,
.hljs-phony {
  color: #4c81c9;
}*/
