* {
    font-family: 'Lato';
    font-weight: 300;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 200%;
}

html, body {
    min-height: 100%;
}

html, body, section, p, h1, h2, h3, h4, h5, h6, header, footer {
    width: 100%;
}

pre {
    text-align: left;
}

pre * {
    font-family: 'Courier New';
}

a {
    font-family: inherit;
    font-weight: inherit;
}

li {
    list-style: none;
}

th, td {
    padding: 1em;
    text-align: left;
    font-size: 0.85em;
}

.ctx-arrow,.intro-title,.tool {
    transition: 0.1s cubic-bezier(0.79,0.14,0.15,0.86) 0s;
    -webkit-transition: 0.1s cubic-bezier(0.79,0.14,0.15,0.86) 0s;
    -moz-transition: 0.1s cubic-bezier(0.79,0.14,0.15,0.86) 0s;
    -o-transition: 0.1s cubic-bezier(0.79,0.14,0.15,0.86) 0s;
}

.button {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.toc,.main,header {
    transition: 0.5s cubic-bezier(0.68,-0.55,0.27,1.55) 0s;
    -webkit-transition: 0.5s cubic-bezier(0.68,-0.55,0.27,1.55) 0s;
    -moz-transition: 0.5s cubic-bezier(0.68,-0.55,0.27,1.55) 0s;
    -o-transition: 0.5s cubic-bezier(0.68,-0.55,0.27,1.55) 0s;
}

.text-ctt p + p {
    margin-top: 1.5em;
}

.wrap-container {
    text-align: center;
}


.box {
    border: 1em solid #eee;
    display: inline-block;
    z-index: -1;
}

.box.rotated {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.box.small {
    width: 12em;
    height: 12em;
}

.box.medium {
    width: 18em;
    height: 18em;
}

.box.large {
    width: 40em;
    height: 40em;
}

.intro .box {
    height: 50em;
    width: 24em;
    position: absolute;
    top: 5em;
    left: 50%;
    margin-left: -12em;
    z-index: 5;
}

.bookmark {
    display: none;
    font-family: 'Six Caps';
    font-size: 22px;
    padding: 5px 0 0 2px;
    letter-spacing: 2px;
    color: #FFF;
    background-color: #000;
    text-align: center;
    width: 30px;
    height: 50px;
    font-weight: lighter;
    position: absolute;
}

h1:hover .bookmark,h2:hover .bookmark {
    display: block;
}

h2 .bookmark {
    margin-top: -1.5em;
}

.bookmark::before,.bookmark::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid transparent;
}

.bookmark::before {
    left: 0;
    border-left: 8px solid #000;
    border-right: 8px solid transparent;
}

.bookmark::after {
    right: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid #000;
}

h1 .bookmark {
    position: absolute;
    left: 100%;
    top: 0.75em;
}

.right h2 .bookmark {
    margin-right: -1.5em;
    right: -1em;
}

.left h2 .bookmark {
    margin-left: -1.5em;
    left: -1em;
}

.clearfix {
    width: 100%;
    text-align: center;
}

html .floater {
    display: inline-block;
    float: none;
}

.main {
    width: 100%;
    overflow: hidden;
    float: right;
    right: 0;
}

.wrap {
    width: 70%;
    max-width: 1000px;
    float: none;
    display: inline-block;
}

*[class*="-ctx"] {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.logo {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    padding: 40px;
    background-color: #FFF;
}

.logo.dark {
    background-color: #000;
}

.logo img {
    width: 68px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.logo-small {
    width: 5em;
    margin: 2em 0;
}

.intro-title {
    font-size: 3em;
    font-family: 'Six Caps';
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 1em;
    font-weight: 400;
}

.logo + .clearfix .intro-title {
    margin-top: -0.25em;
}

.intro-subtitle {
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: 400;
}

.intro-ctt {
    padding-top: 5em;
}

.intro-ctx img {
    width: 100%;
}

.ctx-arrow {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-top: 55vw solid transparent;
    border-right: 55vw solid transparent;
    border-left: 55vw solid transparent;
    border-bottom: 55vw solid #FFF;
    margin-left: -5vw;
    margin-top: -40vw;
}

.ctx-arrow.reverse {
    margin-top: 0;
    border-bottom: 55vw solid transparent;
    border-top: 55vw solid #FFF;
    position: relative;
}

header {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
}

nav {
    padding: 10px;
}

nav li a {
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 30px;
    letter-spacing: 2px;
    color: #666;
    float: right;
}

nav li a:hover {
    color: #000;
}

.text-bar {
    width: 50px;
    height: 5px;
    display: inline-block;
    background-color: #000;
}

.text-title + .text-bar {
    margin-top: 1.5em;
}

.text-bar + * {
    margin-top: 2.5em;
}

.text-title {
    text-transform: uppercase;
}

h2.text-title {
    font-weight: 300;
    font-size: 2em;
    line-height: 150%;
}

h3.text-title {
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
}

.chapters li a,.chapters h3 a {
    color: #000;
    font-size: 1.15em;
    line-height: 150%;
    border-bottom: 1px dotted #000;
}

.chapters li a:hover,.chapters h3 a:hover {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.chapters p a {
    line-height: 200%;
}

.chapters {
    margin-bottom: -7.5em;
}

.chapters .medium-mask {
    margin-left: -15em;
}

.chapters h3 {
    margin-bottom: 1em;
}

.button {
    padding: 1em 3.5em;
    border: 2px solid #000;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-weight: 400;
    color: #000;
    display: inline-block;
}

.button:hover {
    background-color: #000;
    color: #FFF;
    text-decoration: none;
}

.preface {
    margin-top: 8em;
}

.preface .button {
    float: right;
    margin-bottom: 2.5em;
}

.preface .text-copy {
    background-color: white;
    padding: 10px;
}

.text {
    margin-top: 2em;
}

.text-ctt h1,.text-ctt h2,.text-ctt h3 {
    text-transform: uppercase;
    color: #000;
    margin: 1em 0;
    line-height: 150%;
    text-align: left;
}

.text-ctt h1 {
    font-weight: 300;
    font-size: 2em;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #000;
}

.text-ctt h2 {
    font-weight: 200;
    font-size: 1.5em;
}

.text {
    font-size: 16px;
}

.text-ctt > *,.ipython-notebook > * {
    float: none;
    display: inline-block;
    width: 80%;
}

.text-ctt p {
    text-align: left;
}

.text-ctt.wrap {
    width: 100%;
    max-width: none;
}

.ipython-notebook {
    width: 100%;
}

.ipython-notebook .output_subarea pre, .ipython-notebook .text_cell_render pre {
    margin: 0;
    padding: 0 10px;
    border: 0;
    background-color: #fff;
}

.ipython-notebook pre {
    margin: 0;
}

.ipython-notebook code {
    background-color: #fff;
    color: #222;
    font-size: 100%;
    font-family: 'Courier New';
}

.ipython-notebook .output_html, .ipython-notebook .output_png, .ipython-notebook .output_subarea {
    background-color: #FFF;
    text-align: left;
}

footer {
    width: 100%;
    padding-bottom: 6em;
    margin-top: -10vw;
    z-index: -2;
}

footer h1 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    font-family: 'Six Caps';
    margin-top: -1.5em;
}

.footer-ctx {
    background-color: #000;
    height: 65vw;
    overflow: hidden;
}

footer .wrap {
    padding-top: 40vw;
}

.toolbar + header {
    top: 75px;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    height: 75px;
    z-index: 200;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

.toolbar .toolbar-logo {
    padding: 25px;
}

.toolbar-logo img {
    height: 25px;
    width: 25px;
}

.toolbar nav {
    margin: 0;
    padding: 0;
    float: right;
}

.tool {
    width: 75px;
    height: 75px;
    padding: 20px;
    float: right;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.tool:hover,.tool.s {
    background-color: #333;
    color: #FFF;
    border-right: 1px solid transparent;
}

.tool + .tool {
    border-right: 1px solid #eee;
}

.tool i {
    line-height: 35px;
    display: inline-block;
    text-align: center;
}

.tool sup i {
    font-size: 7px;
}

.tool label {
    position: absolute;
    top: 110%;
    display: none;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #FFF;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px;
    line-height: 125%;
}

.tool label::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #222;
}

.tool:hover label {
    display: block;
}

.subbar {
    position: fixed;
    top: 75px;
    background-color: #333;
    min-height: 75px;
    color: #FFF;
    width: 100%;
    left: 0;
    z-index: 150;
}

.subbar h2 {
    font-size: 1.5em;
    width: 50%;
    margin: 1em;
}

.subbar h2 span {
    margin-left: 0.5em;
}

.subbar .button {
    float: right;
    font-size: 0.75em;
    color: #FFF;
    border: 2px solid #FFF;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
}

.subbar .button:hover {
    background-color: #FFF;
    color: #333;
}

nav.toc {
    position: fixed;
    top: 75px;
    bottom: 0;
    right: -33.33%;
    float: right;
    left: auto;
    background-color: #f6f6f6;
    z-index: 150;
    padding: 3em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.toc a {
    text-align: left;
    float: none;
    letter-spacing: 0;
    font-size: 1.15em;
    padding: 5px;
}

.t1 a,.t2 a,.t3 a,.t4 a,.t5 a {
    text-transform: none;
}

.t1 {
    padding-left: 10px;
}

.t2 {
    padding-left: 20px;
}

.t3 {
    padding-left: 30px;
}

.t4 {
    padding-left: 40px;
}

.t5 {
    padding-left: 50px;
}

nav.toc.s {
    right: 0;
}

.s .main,.s header {
    right: 33.33%;
}

p a::before {
    content: attr(href);
    position: absolute;
    bottom: 135%;
    background-color: #333;
    color: #FFF;
    font-size: 0.75em;
    padding: 0 7.5px;
    display: none;
    left: 0;
}

p a:hover::before,p a:hover::after {
    display: block;
}

p a::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 3px solid #333;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    bottom: 135%;
    margin-bottom: -6px;
    left: 10px;
    display: none;
}

*[class*="-mask"] {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    overflow: hidden;
}

*[class*="-mask"] span {
    width: 150%;
    height: 150%;
    margin-top: -25%;
    margin-left: -25%;
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background-size: cover;
}

.large-mask {
    width: 30em;
    height: 30em;
}

.medium-mask {
    width: 22.5em;
    height: 22.5em;
}

.small-mask {
    width: 15em;
    height: 15em;
}

.left h3, .left h2, .left p,.left li,.left {
    text-align: left;
}

.right h3, .right h2, .right p,.right li,.right {
    text-align: right;
}

div.right {
    float: right;
}

@media (max-width:990px) {
    .preface .button {
        float: none;
    }

    .right {
        float: none;
    }

    .chapters {
        padding-top: 0;
        margin-bottom: 0;
    }

    .intro-title {
        margin-top: 1em;
    }

    .text-ctt h1,.text-ctt h2,.text-ctt h3 {
        text-align: left;
    }

    nav.toc {
        right: -100%;
        width: 100%;
    }

    .ipython-notebook > div:first-child {
        margin-left: 10%;
        left: 0;
    };
}
