/*
  :Author: John DeNero
  :Contact: denero@google.com
  :Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with the 61A website.
Fonts adopted from Mark Pilgrim's diveintopython3.org.
*/

/* layout */

.header {
    margin-top: 20px;
}

h3.section {
    margin-top: 20px;
    border-bottom: 1px solid black;
}

/* fonts and spacing */

.content {
    font-size: medium;
    line-height: 1.6;
    color: #222;
    font-weight: 300;
    max-width: 900px;
    background: #fff;
    margin: 1em auto;
}

.content h4 {
    margin: 0px;
}

blockquote {
  background-color: #f2dede;
  border-color: #eed3d7;
  border-radius: 10px;
  padding-bottom: 20px;
  padding: 2px 20px;
}
