/* Stylesheet for CS 61A resources */

html {
  background: #fff;
  color: #222;
}

body {
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.6;
  margin: 1em 40px;
  max-width: 900px;
}

*:focus {
  outline:none;
}


/* Headers */

h1, h2, h3 {
  font-family: "Book Antiqua", Palatino, Georgia, serif;
}

#title-main {
  color:#222;
  font-size:2em;
  text-align:center;
}

h2 {
  border-bottom: 1px solid steelblue;
  font-size:1.6em;
  line-height: 100%;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 75px;
  padding-top: 10px;
}

/* block level elements */

p {
  margin: 1.25em 0;
}

blockquote {
  background-color: #f2dede;
  border-color: #eed3d7;
  border-radius: 10px;
  padding-bottom: 20px;
  padding: 2px 20px;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:80%;
  text-align:center;
}

p.figure-caption {
  text-align: center;
}


hr {
  width: 80%;
}

/* buttons */

button {
  background-color:#fff;
  border-style:none;
  color:#007291;
  cursor:pointer;
  font-size:1em;
  padding:7px 10px;
}

button:hover {
  background-color:#007291;
  color:#fff
}


/* span-level elements */

abbr {
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}


/* links */

li a:hover, a:hover {
  color: #59a3d7;
}

a:link, .w a {
  color: steelblue;
}

a:visited {
  color: #b44582;
}

/* Code */

pre, kbd, samp, code, var, pre span, tt {
  font: medium/1 'Andale Mono', monospace;
  line-height: 1.3;
}

tt, :not(pre)> code {
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
}

pre {
  background-color: #F3F3F6;
  border-left: 2px solid #EEE;
  border-right: 2px solid #EEE;
  color: #000;
  margin: 0px;
  overflow:auto;
  padding: 20px;
}


/* Lists */

ol.simple, ul.simple {
  margin-bottom:1em;
}

ol.arabic {
  list-style:decimal
}

ol.loweralpha {
  list-style:lower-alpha
}

ol.upperalpha {
  list-style:upper-alpha
}

ol.lowerroman {
  list-style:lower-roman
}

ol.upperroman {
  list-style:upper-roman
}
