body {
    font-family: 'Lato', Trebuchet MS, Tahoma, Sans-Serif;
    font-size: 0.9em;
    margin: 0;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    line-height: 100%;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    color: #59a3d7;
    position: relative;
}

h2 .coursename {
    color: #0072c1;
    padding-top: 0px;
}

h1 a {
    color: #59a3d7;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-size: 1.7em;
    color: #0072c1;
    clear: both;
}

h3 {
    clear: both;
}

hr {
    width: 80%;
    border: 0;
    color: #0072c1;
    background-color: #0072c1;
    height: 1px;
}

.courseinfo {
    list-style: none;
    padding: 0;
}

.instructors {
    padding-top: 12px;
}

.category {
    color: #0072c1;
}

.description {
    padding-right: 40px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li {
    padding: 10px;
}

.navigation li:hover {
    background-color: #c1d6e3;
}

.head hr {
    width: 100%;
}

.navigation a:hover {
    text-decoration: none;
}

li p {
  margin:0;
}

a {
    color: #0072c1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.announcements {
    width: 80%;
    margin-right: auto;
}

.date {
    font-weight: bold;
    vertical-align: top;
    color: #0072c1;
    width: 5em;
    margin-right: 10px;
}

.announcement {
    margin-left: 40px;
}

table#calendar {
    width: 95%;
    max-width: 1100px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table#calendar th {
    font-family: 'Lato', sans-serif;
    font-size: 1.0em;
    color: #0072c1;
}

table#calendar td {
    border: 1px solid #fff;
    background-color: #c1d6e3;
    padding: 5px;
}

table#calendar tbody.current td {
    background-color: #b0d4ed;
}

table#calendar td.weeknum {
    text-align: center;
}

table#calendar td.reading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table#calendar tr.even td {
    background-color:#B0C4DE;
}

table#calendar .holiday {
    color: #808080;
}

table#calendar .breadth {
    color: #404080;
}

table#calendar .description {
    color: #666;
    max-width: 24em;
    word-wrap: break-word;
    display: block;
}

table#schedule {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

table#schedule th {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #0072c1;
}

table#schedule td {
    border: 1px solid #888;
    width: 19%;
    height: 2em;
    background-color: #c1d6e3;
}

table#schedule td.split {
    width: auto;
}

table#schedule td.time {
    width: auto;
    vertical-align: top;
    text-align: right;
    font-size: 0.7em;
}

table#schedule td.slot {
    text-align: center;
    height: auto;
}

table#schedule td.lecture {
    background-color: #f8fabb;
}

table#schedule td.lab {
    background-color: #74f553;
}

table#schedule td.dis {
    background-color: #F18EF5;
}

table#schedule td.oh {
    background-color: #b2cfff;
}


div.footer {
    width: 100%;
    text-align: center;
    font-size: .8em;
    margin: 1em;
}

div.staffer {
    float: left;
    text-align: center;
    width: 240px
    height: 240px;
    margin: 1em;
}

div.staffer img {
    border: 1px solid #888;
}

table.staff_table {
    border-collapse: collapse;
}

table.staff_table td {
    /*border: 1px solid #888; */
    text-align: center;
    padding: 10px;
}

.staffer img {
    border: 1px solid #888;
}

.staffer p {
    font-family: Verdana, Tahoma, Sans-Serif;
    font-size: 1.0em;
}

td.hidden {
    visibility:hidden;
}

/* midterm pages */
table.lined {
    border: 2px solid;
    border-collapse: collapse;
}

table.lined td {
    border-bottom: 2px solid;
    border-right: 1px solid;
    padding: 5px 20px;
}

.head {
    background-color: white;
    height: 100%;
    width: 20em;
    max-width: 200px;
    padding: 0px 20px;
    position: fixed;
    overflow: auto;
}

#content {
    margin-left: 240px;
}

.head h1 {
    margin: 0;
}

/* Responsive */

@media (max-width: 700px) {
    /* Small PC Screens */
   .head {
        position: relative;
        height: auto;
        width: 100%;
        max-width: none;
        padding: 20px;
    }
    #content {
        margin-left: 0px;
        width: auto;
        padding-left: 20px;

    }
}
@media only screen and (max-width: 768px)  {
    /* iPad & Tablets */
   .head {
        position: relative;
        height: auto;
        width: auto;
        max-width: none;
        padding: 20px;
    }
    #content {
        margin-left: 0;
        width: auto;
        padding-left: 20px;
    }
}


@media only screen and (max-width: 480px)  {
    /* Small Phones */
   .head {
        position: relative;
        height: auto;
        /* Fix for a huge table making the page wider */
        width: 125%;
        max-width: none;
        padding: 20px;
    }
    #content {
        margin-left: 0;
        width: auto;
        padding-left: 20px;
    }
}

