// Common Berkeley Variables.
// This file is explicitly included before berkeley.scss in setup.scss
// Some colors may be override by berkeley_light or berkeley_dark

$content-width: 1200px;

// Typography
$mono-font-family: "Source Code Pro", "SFMono-Regular", menlo, consolas, monospace !default;
$body-font-family: 'Inter', system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji" !default;
$serif-font-family: 'Source Serif 4', 'Georiga', 'Baskerville', serif;

$berkeley-blue-old: #003262;
$berkeley-blue: #002676; // rgb(0, 38, 118);

// Colors
$link-color: $berkeley-blue;
$hover-focus-link-color: lighten($link-color, 20%);

// Layout
$gutter-spacing: $sp-6;
$gutter-spacing-sm: $sp-4;
$nav-width: 256px;

// Components
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
$module-date-color: $link-color;
$staffer-image-size: 100px;
