html {
  font-weight: 300;
}

body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h3 {
  font-size: 20px;
}

a.anchor-link {
  display: none;
}

/* Announcement Pager */

.announcement-btn-older:hover, .announcement-btn-newer:hover {
  cursor: pointer;
}
.announcement {
  display: none;
}
.announcement .pager {
  text-align: left;
}

/* Calendar */

.calendar table, .calendar th, .calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th, .calendar tr, .calendar td {
  padding: 12px;
}

.calendar td.header {
  font-weight: 500;
}

.calendar tr.monday {
  background-color: #e6e8f2;
}

.calendar tr.wednesday {
  background-color: #f2f4f8;
}

/* Staff */

.staff th, .staff tr, .staff td {
  padding: 0 40px 40px 0;
}
